<% if @product.errors.any? %>
  <div id="errorExplanation">
  <h2>El formulario presenta <%= pluralize(@product.errors.count, "error", "errores") %></h2>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <p><label for="product_name">Nombre</label><br/>
  <%= text_field 'product', 'name' %></p>
</div>

<div class="field">
  <p>
		<label for="tags">Tags</label><br/>
		<input type="text" id="tags" autocomplete="off" size="50" name="tags" value="<%= @product.tags.collect{|tag| tag.name }.join(", ") if @product.tags -%>">
	</p>
</div>
<script type="text/javascript" language="javascript" charset="utf-8">
	new Autocompleter.Local('tags', new Array(<%== @tags.collect{|tag| "\"#{ tag.name }\""}.join(", ") if @tags %>), {
  minLength: 0, //Wait for at least one character
	selectMod: 'type-ahead', //Instant completion
	multiple: true
});
</script>

<div class="field">
  <p><label for="product_brand">Marca</label><br/>
  <%= collection_select :product, :brand_id, @brands, :id, :name %></p>
</div>
  
<div class="field">
  <p><label for="product[supplier_ids][]">Proveedores</label><br/>
  <%= select_tag 'product[supplier_ids][]', options_from_collection_for_select(@suppliers, :id, :name, 
      @product.suppliers.collect{|supplier| supplier.id}), { :multiple => true, :size => 5 } %></p>
</div>

<div class="field">
  <p><label for="product_type">Tipo de producto</label><br/>
  <%= text_field 'product', 'type' %></p>
</div>

<div class="field">
  <p><label for="product_origin">Procedencia</label><br/>
  <%= text_field 'product', 'origin' %></p>
</div>

<div class="field">
  <p><label for="product_price">Precio (€)</label><br/>
  <%= text_field 'product', 'price' %></p>
</div>

<div class="field">
  <p><label for="product_weight">Peso (Kg)</label><br/>
  <%= text_field 'product', 'weight' %></p>
</div>

<div class="field">
  <p><label for="product_description">Descripción</label><br/>
  <%= text_area 'product', 'description' %></p>
</div>

<div class="field">
  <p><label for="product_cover_image">Imagen</label><br/>
  <% if @product.cover_image.exists? then %>
    <dd><%= image_tag @product.cover_image.url(:resize) %></dd>
  <% else %>
    <p>No se encontró ninguna imagen. Por favor, suba una.</p>
  <% end %>
  <%= file_field 'product', :cover_image %></p>
</div>
