<dl>
  <dt>Nombre</dt>
  <dd><%= @product.name %></dd>
  <dt>Marca</dt>
  <dd><%= @product.brand.name %></dd>
  <dt>Proveedores</dt>
  <dd><%= @product.supplier_names %></dd>
  <dt>Tipo</dt>
  <dd><%= @product.type %></dd>
  <dt>Descripcion</dt>
  <dd><%= textilize @product.description %></dd>
  <dt>Origen</dt>
  <dd><%= @product.origin %></dd>
  <dt>Precio</dt>
  <dd><%= @product.price %></dd>
  <dt>Imagen</dt>
  <% if @product.cover_image.exists? then %>
    <dd><%= image_tag @product.cover_image.url %></dd>
  <% else %>
    <dd><%= image_tag '/missing.png' %></dd>
    <p>No hay una imagen disponible.</p>
  <% end %>
</dl>

<%= link_to 'Editar', :action => 'edit', :id => @product %> |
<%= link_to 'Atrás', :action => 'index' %>