<%= render :partial => 'search_box' %>

<% if @products && params[:search] && !params[:search].blank? && !params[:search][:name_contains].blank? %>
	<p>La búsqueda "<%= params[:search][:name_contains] %>" produjo <%= pluralize @products.size, "resultado" %>:</p>
	<%= render(:partial => "products") %>
<% end %>

<p><%= link_to 'Volver al catálogo', :action => 'index' %></p>