<dl>
	<dt>Nombre</dt>
	<dd><%= @brand.name %></dd>
	<dt>Ciudad</dt>
	<dd><%= @brand.city %></dd>
	<dt>Calle</dt>
	<dd><%= @brand.street %></dd>
	<dt>Teléfono</dt>
	<dd><%= @brand.phone %></dd>
</dl>

<p><%= link_to 'Editar', :action => 'edit', :id => @brand %> | 
	<%= link_to 'Atrás', :action => 'index' %></p>