<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
  <title><%= @page_title || 'Caña de Lomo' %></title>
  <%= stylesheet_link_tag "style" %>
  <% if @cart || (@page_title && (@page_title.include?('Lista') || @page_title.include?('Detalles'))) %>
    <%= javascript_include_tag "application" %>
  <% end %>
</head>
<body>
   <div id="header">
    <h1 id="logo">Caña de Lomo&trade;</h1>
    <h2 id="slogan">Productos ibéricos</h2>
    <!-- <p id="loginlogout"> de layout de miniemporium omitido porque da error -->
  </div>
  <div id="menu">
    <ul>
      <li><a href="/admin/brand">Marcas</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/supplier">Proveedores</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/product">Productos</a>&nbsp;|&nbsp;</li>
      <li><a href="/admin/order">Pedidos</a>&nbsp;|&nbsp;</li>
      <li><a href="/">Catálogo</a>&nbsp;|&nbsp;</li>
      <li><a href="/about">Sobre nosotros</a>&nbsp;</li>
    </ul>
  </div>

  <div id="content">
    <h1><%= @page_title if @page_title %></h1>
    <% if flash[:notice] %>
      <div id="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>

  <% if @cart %>
    <div id="shopping_cart"><%= render :partial => 'cart/cart' %></div>
  <% end %>

  <div id="footer">
    &copy; 2014 Caña de Lomo
  </div>  
</body>
</html>
